h1 {
	font-family: TimesNewRoman;
	color: AQUA;
/* The above CSS code will stylize the title of my schedule */
}

body {
	background-color: NAVY;
	font-family: Arial;
	font-weight: 300;
	font-size: 14px;
	Text-align: center;
/* The above changes the background colour of the table, the font letters, and size as well as their position within the box. all of this is done byentering in specific characteristics 
that apply */
}
td {
	background-color: 	#87CEFA;
	text-align: center;
	height: 110px;
	width: 175px;
	color: NAVY;
	
}
th {
	background-color: 	#20B2AA;
	height: 45px;
	width: 64px;
	color: NAVY;
/* Very same thing for the above two. */
}
table {
	border-collapse: collapse;	
}
/* This border collapse is special because it changes the way that the bsides of the oxes in the table appear*/
td:hover {
	background-color:#00FFFF ;
}
 @keyframes bgcolor {
 
    25% {
        background-color: 	#0000CD;
    }
    50% {
        background-color: 	#0000FF;
    }
    75% {
        background-color: 	#00CED1;
    }
    100% {
        background-color: 	#008B8B;
    }
}
 body{ 
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
}

/* This last chunk is key for my background of the page beccause it causes it to shift and change colours throughout time, as youre on that website.*/
